{% extends "layout.html" %}
{% block title %}
Is the apple ripe
{% endblock %}
{% block content %}
<div class="bg-red-500 ">
    <div class="flex flex-row justify-center align-middle">
        <div class="mb-3 xl:w-96">
            <div class="input-group relative flex flex-wrap items-stretch w-full mb-4">
                <form action="">
                    <label for="">Search</label>
                    <input type="text" name="" id="search" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Search" aria-label="Search" aria-describedby="button-addon3">
                </form>
            </div>
        </div>
    </div>
    <div id="resView" class="justify-center text-center items-center flex flex-col h-screen w-screen">
        <h1 class="text-3xl">Title</h1>
        <img src="" alt="" class="h-30 w-30">
        <p class="text-xl">Status | Status Info</p>
        <p class="text-md">days since updated ?</p>
        <p class="text-md">average days between releases ?</p>
    </div>
</div>
{% endblock %}